p{
    font-family: Indie Flower;
}

body{
    font-size: 5px;
}

p{
    font-size: 3.0em;
}

span{
    font-size: 2.0em;
}

p{
    font-weight: bold;
    width: 50%;
}

h1{
    font-size: 25px;
    width: 50%;
    padding: 10px;
}